@model int
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!!</h1>
        Your OrderId is : @Model
        <br />
        <img src="~/images/OrderPlaced.png" width="50%"/>
    </div>
    <div class="col-12 text-center" style="color:darkolivegreen">
        <br />
        Your Order has been placed Successfully!! 
    </div>
</div>