################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BulkyWeb/FileContentIndex
/Bulky.Models/Models/Order.cs
